futures_klines_data/
spot_klines_data/
venv/
app/__pycache__
alembic/__pycache__
__pycache__
futures_klines_data/
spot_klines_data/
.ipynb_checkpoints/
spot_month_klines_data
spot_klines_data
futures_klines_data
forex_data